/*ADAPTACION PANTALLAS*/

/*movil*/
/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
    .cont_formulario_externo {
        width: 100vw;
        height: 100vh;
    }
}
/*fin movil*/










/*Escritorio*/
@media (min-width: 1199.98px) {
    body {
        width: 100vw;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cont_formulario_externo {
        width: 450px;
        height: 600px;
        border-radius: 1em;
    }

    .iniciar,
    .registrar {
        padding: 15px 0 15px 0;
        margin: 0 50px 0 50px;
    }


    .registrar {
        grid-column: 1 / -1;
        grid-row: 2 / 6;
        gap: 20px;
    }

    

    h3 {
        margin-left: 50px;
    }

}
/*Fin Escritorio*/










/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    body {
        width: 100vw;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cont_formulario_externo {
        width: 80%;
        height: 90%;
        border-radius: 1em;
    }

    .iniciar,
    .registrar {
        padding: 15px 0 15px 0;
        margin: 0 50px 0 50px;
    }

    .registrar {
        grid-column: 1 / -1;
        grid-row: 2 / 6;
        gap: 20px;
    }

    h3 {
        margin-left: 50px;
    }
}